_target_: src.models.VAE.MnistVAE

z_dim: 20

image_preprocessor:
  _target_: src.models.Encoders.ImagePreprocessor
  image_shape: [ -1, 1, 28, 28 ]
  hidden_sizes: [ 1, 256, 1 ]
  kernel_size: [ 3, 3 ]

encoder:
  _target_: src.models.Encoders.DiagonalEncoder
  hidden_sizes: [784 ,400, 200, 20]

decoder:
  _target_: src.models.Decoders.BernoulliDecoder
  hidden_sizes: [20, 200, 400, 784]

classifier: null

lr: 1e-3
weight_decay: 0.05
beta: 0.8