_target_: src.models.PHYSIONET.PhysionetModels.PhysionetHIVAE

z_dim: 35

image_preprocessor: null

encoder:
  _target_: src.models.Encoders.DiagonalEncoder
  hidden_sizes: [35, 128 ,128]
  z_dim: 35

decoder:
  _target_: src.models.Decoders.GaussianDecoder
  hidden_sizes: [35, 256, 256, 35]

classifier:
  _target_: sklearn.linear_model.LogisticRegression
  solver: liblinear
  tol: 1e-10
  max_iter: 10000
  n_jobs: -1
  multi_class: ovr

lr: 1e-3
weight_decay: 0.05
beta: 0.2
is_mask: True

